/* basic */

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 50px;
}
/* TYPOGRAPHY */

@font-face {
    font-family: meme;
    src: url(/font/impact.ttf);
}

/* header */

h1{ 
    font-family: meme;
 
}
/* canvas */


#meme-canvas{
border:solid 1px black;
}