/* basic */

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 50px;
}
/* TYPOGRAPHY */

@font-face {
    font-family: meme;
    src: url(/font/impact.ttf);
}

/* header */

h1{ 
    font-family: meme;
 
}
/* canvas */


#meme-canvas{
border:solid 1px black;
}

/* tools */

.text-inputs{
    background-color: brown;
    width: 600px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* helpers */

.flex{
    display: flex;
    text-align: center;
}



/* grid */


.images-wrapper {
    display: grid;
    grid-template-columns: repeat(4,minmax(100px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(100px,1fr));
    row-gap: 5px;
    column-gap: 10px;
}
img{
    width: 100%;
    border-radius: 20px;
}
.box{
    padding: 10px;
}
